[Desktop Entry]
Type=Application
Name=volcan
GenericName=volcan
Comment=Connexion aux serveurs ftp et montage d'un dossier local avec curlftps/sshfs
Icon=/home/USER/.volcan/icons/volcan.png
Exec=bash /home/USER/.volcan/bin/volcan.sh
Terminal=false  #ouvrir ou non un terminal lors de l'exécution du programme (false ou true)
StartupNotify=false  #notification de démarrage ou non (false ou true)
Categories=Application
